<!DOCTYPE html>
<meta charset="utf-8">

<html style="background-color:rgb(238, 230, 203);">
<head>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<div class="header" id="header"></div>
<div id="table"></div>
<div id="append"></div>

<br><br><br><br><br><br><br><p class="sbufoot">Department of Linguistics | Stony Brook University, Stony Brook, NY 11794-4376</p>
<p class="sbufoot">© 2022 Stony Brook University</p>


<script type="text/javascript" src="{{ url_for('static', filename='helpers.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='header.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='appendix.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='table.js') }}"></script>

<script>
var updata = {{ data|tojson }}[0]
var audios = {{ data|tojson }}[1]
// console.log(text)
// header = updata[0]
// var fs = require('fs');
// var files = fs.readdirSync('/assets/photos/');
// console.log(pack[3][0])
// var nm = prompt('User name?', 'Annotator');

hd0 = ['Sentence', 'Entity', 'Entity(JA)', 'Comment']
hd1 = ['Sentence', 'Entity', 'Entity(JA)', 'Event', 'Pragmatics', 'Comment']
hd2 = ['Sentence', 'Entity', 'Entity(JA)', 'Event', 'Pragmatics', 'Bel(A)', 'Bel(B)', 
'CG(A)', 'CG(B)', 'CG Why', 'Comment']
hd_tsv = ['Sentence', 'Entity', 'Entity(JA)', 'Eno.', 'Event', 'Bel(A)R', 'Bel(B)R','CG(A)R','CG(B)R',
'Pragmatics', 'Bel(A)', 'Bel(B)', 'CG(A)', 'CG(B)', 'Why(CG)', 'Why in prose', 'Comment']
bcgtab = ['Bel(A)', 'Bel(B)', 'CG(A)', 'CG(B)']
qs = ['Q', 'WhQ', 'YNQ', 'NegYNQ', 'SpecWhQ', 'RightTagQ', 'RhetQ', 'ElidQ']
bel = ['', 'CT+', 'CT-', 'PS', 'NB']
belc = ['→', '→CT+', '→CT-', '→PS']
cg = ['', 'JA', 'IN','RT', 'AM']
cgc = ['→', '→JA', '→IN', '→RT', '→AM']
why = ['', 'WK', 'C', 'LI']

di = 3
text = 'grey'           // text color
edr = 0;                // last edited line
max = 10;               // max line
expand = 5;             // click expand
pack = [];              // data pack for all dialogs
cursor = '';            // cursor tips msg
appp = 3;               // appendix seletion
prvmax = 10;            // previous max
nm = 'Annotator';       // annotator
clips = 0;              // contain clips
dids = [];              // did num array and index
eja = 1;                // JA mode
cgm = 1;                // CG mode
hrefer = 0;             // hide default reference #
hcom = 1;               // hide comment tab
prev_wip = '';          // previous wip
autoSave = 64;          // auto save per reload
autoSaveCount = 0;      // auto Save reload Count
focusClip = 1;          // focus clip
numRow = ''             // number row span

for (var i = 0; i < updata.length; i++) {
    did = updata[i].slice(0, 1)
    dialog = updata[i].slice(1)
    obj = []
    for (var j = 0; j < dialog.length; j++) {
        //ty[0] 0:mian event 1:extra
        //ty[1] #of row of sentence
        //ty[2] 1:hightlight/selected
        //ty[3] event #
        //ty[4] Q
        var tuple = Object.freeze({ st:dialog[j], e1:[], e2:[], er:[], ev:[], pr:[], why:[], wip:[], com:[],
            cc:[0, 0, 0, 0, 0], ccc:[0, 0, 0, 0], ty:[0, 1, 0, j+1, 0], cc2:[[[0, 0]], [[0, 0]], [[0, 0]], [[0, 0]]], 
            eve:[[], [], [], []]})
        obj.push(tuple)
    }
    dids.push(did.toString())
    data = []
    data.push(did)
    data.push(dialog)
    data.push(obj)
    // console.log(dialog)
    pack.push(data)
}

reload(0)
</script>
